@charset "utf-8";
$black: #1f1f1f;
$darkgray: #505050;
$lightgray: #c4c4c4;
$white: #fff;

/*헤더영역 서식 시작*/
header {
	width: 100%;
	height: 100vh;
	background-color: antiquewhite;
	position: relative;
}

.status {
	background-color: mediumvioletred;
	font-color: #fff;
	width: 100px;
	height: 30px;
	position: fixed;
	top: 0;
	right: 0;
}

header > h1,
header > div,
header > ul,
header > p {
	position: absolute;
}

header > h1 {
	top: 0px;
	left: 0px;
}

.bar {
	position: absolute;
	height: 1px;
	transition: 0.3s;
}

.bar01 {
	width: 50px;

	background-color: $black;
	top: 30%;
	right: 0;
}

.bar02 {
	width: 70px;

	background-color: $black;
	top: 50%;
	right: 0;
}

/*토글버튼 서식*/
.toggle {
	width: 100px;
	height: 100px;
	position: fixed;
	//	position: absolute;
	top: 50%;
	right: 10px;
	z-index: 9999;
	transition: 0.5s;
}

.toggle:hover .bar {
	width: 60px;
}

.toggle.active {
	transition: 0.5s;
}

.toggle.active:hover .bar01 {
	width: 90px;
	transform: rotate(0deg) !important;
}

.toggle.active:hover .bar02 {
	display: none;
}

.toggle.active .bar02 {
	width: 60px;
	transform: rotate(-45deg) translateY(-14px);
}

.toggle.active .bar01 {
	width: 60px;
	transform: rotate(45deg) translateY(14px);
}

//
//.bar01.active:hover {
//	width: 100px;
//}
//
//.bar02.active:hover {
//	display: none;
//}
.gnb_wrap {
	width: 50vw;
	height: 100vh;
	background-color: #ff5c5c;
	position: fixed;
	right: -50vw;
	top: 0;
	z-index: 9000;
}

.gnb {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 20%;

	a {
		text-transform: uppercase;
		font-size: 6rem;
		line-height: 1.8em;
		display: block;
		transition: 0.5s;
		color: $darkgray;

		&::before {
			content: '';
			display: inline-block;
			width: 200px;
			height: 1px;
			background-color: $black;
			margin: 0 10px 5% 0;
		}

		&.inactive {
			font-size: 4rem;
			line-height: 1.6em;
			color: $lightgray;
		}

		&.inactive::before {
			width: 150px;
			margin: 0 10px 3% 0;
			background-color: $lightgray;
		}

		&.active {
			font-size: 7rem;
			line-height: 1.8em;
			color: #000000;
		}

		&.active::before {
			width: 230px;
			height: 1px;
			background-color: #000000;
		}
	}
}

/* 하단 더보기 버튼 */
.more_btn {
	width: 80px;
	height: 80px;
	position: fixed;
	//	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}

@keyframes rotate_more_btn {
	to {
		transform: rotate(360deg);
	}
}

.more_btn:hover {
	animation: rotate_more_btn 4s linear infinite;
}

.more_bar_top {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: $black;
	opacity: 1;
}

.more_bar_bottom {
	position: absolute;
	width: 1px;
	height: 100%;
	left: 50%;
	top: 0;
	background-color: $black;
}

//하단 더보기 버튼 액티브 클래스 추가 후
.more_btn.active:hover {
	animation: rotate_more_btn 6s linear infinite;
}

.more_btn.active .more_bar {
	background-color: $white;
}

.more_btn.active .more_bar_top {
	opacity: 0;
}

.more_btn.active .more_bar_bottom {
	transform: rotate(90deg);
}

.menu {
	position: fixed;
	//	position: absolute;
	bottom: 0px;
	left: 0px;
	padding-left: 0px;
	width: 0vw;
	height: 100px;
	background-color: rgba(31, 31, 31, 0.9);
	font-size: 40px;
	//	display: none;
	transition: 0.5s;
	overflow: hidden;
	z-index: 9000;

	&.active {
		padding-left: 120px;
		width: 100vw;
	}

	&.active a {
		opacity: 1;
	}

	ul {
		display: flex;
		width: 100%;
		height: 100px;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;

		//		display: none;
		li {
			width: 16%;
			height: 100px;
		}

		li > a {
			text-transform: uppercase;
			color: $white;
			transition: 0.2s;
			display: block;
			line-height: 100px;
			text-align: center;
			opacity: 0;
			font-size: 1.6rem;
		}

		li > a:hover {
			font-size: 1.8rem;
		}
	}
}

/*오른쪽 상단 메뉴*/
.top_menu {
	top: 0px;
	right: 0px;
	background-color: #031545;
	width: 160px;
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.top_menu a {
	color: $white;
	font-size: 1.4rem;
	text-transform: uppercase;
	line-height: 1.6em;
}

/* 진행 바 서식*/
.progress {
	position: fixed;
	left: 60px;
	top: 20vh;
	width: 1px;
	height: 60vh;
	background-color: #808080;
	display: flex;
	justify-content: center;
}

.progress_bar {
	position: absolute;
	background-color: #ff4848;
	width: 1.4px;
	height: 80vh;
}

/*콘텐츠영역 서식 시작*/

section {
	width: 100%;
	height: 365vh;
	background-color: #dedede;
}

.project {
	height: 270vh;
	width: 1200px;
	position: relative;
	width: 1200px;
	margin: 0 auto;
	background-color: #ffd1d8;
}

figure {
	position: absolute;
}

.project01 {
	//	display: none;
	opacity: 0;
	width: 520px;
	top: 4%;
	left: 6%;
}

.project02 {
	top: 21%;
	right: 7%;
}

.project03 {
	top: 40%;
	left: 6%;
}

.project04 {
	top: 52%;
	right: 7%;
}

.project05 {
	top: 73%;
	left: 9%;
}

article.introduce01 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 95vh;
	background-color: #c7e3ff;
}

/*푸터영역 서식 시작*/
footer {
	width: 100%;
	height: 5vh;
	background-color: $darkgray;
}
